/* General Styling */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #212529;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px 0;
    background-color: #fff;
}

    table thead th {
        background-color: #007bff;
        color: white;
        text-align: center;
        padding: 10px;
    }

    table tbody td {
        padding: 5px;
        border: 1px solid #dee2e6;
    }

    table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    table tbody tr:hover {
        background-color: #e9ecef;
    }

.highlighted-course {
    background-color: #d1ecf1;
    font-weight: bold;
}

/* Button Styling */
button {
    padding: 5px 10px;
    margin: 10px;
    font-size: 14px;
    border: 1px solid #007bff;
    border-radius: 10px;
    color: #007bff;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

    button:hover {
        background-color: #0056b3;
        color: white;
    }

    button.active {
        background-color: #007bff;
        color: white;
        font-weight: bold;
    }

/* Add Promo Code Form */
div.ng-show {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #007bff;
    border-radius: 5px;
}

    div.ng-show input {
        padding: 8px;
        margin: 5px;
        border: 1px solid #007bff;
        border-radius: 4px;
    }

    div.ng-show button {
        margin-top: 10px;
    }

/* Pagination Styling */
.pagination-controls {
    text-align: center;
    margin-top: 5px;
}

    .pagination-controls button {
        padding: 3px 10px;
        margin: 3px;
        border: 1px solid #007bff;
        background-color: white;
        color: #007bff;
        border-radius: 3px;
        cursor: pointer;
    }

        .pagination-controls button.active-page,
        .pagination-controls button:hover {
            background-color: #007bff;
            color: white;
        }

        .pagination-controls button:disabled {
            background-color: #e9ecef;
            color: #6c757d;
            cursor: not-allowed;
        }
