<div ng-controller="detailsController">
    <!-- Toggle Buttons -->
    <div style="margin: 5px 0 0 25px;">
        <button ng-click="switchView('teacher')" ng-class="{ 'active': currentView === 'teacher' }">Teacher</button>
        <button ng-click="switchView('promocodes')" ng-class="{ 'active': currentView === 'promocodes' }">PromoCodes</button>
    </div>

    <!-- Teacher Information -->
    <div ng-if="currentView === 'teacher'" style="margin-left: 25px;">
        <h3>Teacher Information</h3>
        <table border="1" style="border-color: #dee2e6; width: 100%; text-align: left; table-layout: fixed; ">
            <tr>
                <th style="width: 30%;">Name</th>
                <td style="width: 70%;">
                    <span ng-if="!teacherInfo.isEditing">{{ teacherInfo.name }}</span>
                    <input type="text" ng-if="teacherInfo.isEditing" ng-model="teacherInfo.name" style="width: 100%;">
                </td>
            </tr>
            <tr>
                <th style="width: 30%;">Email</th>
                <td style="width: 70%;">
                    <span ng-if="!teacherInfo.isEditing">{{ teacherInfo.email }}</span>
                    <input type="text" ng-if="teacherInfo.isEditing" ng-model="teacherInfo.email" style="width: 100%;">
                </td>
            </tr>
            <tr>
                <th style="width: 30%;">AboutMe</th>
                <td style="width: 70%;">
                    <span ng-if="!teacherInfo.isEditing">{{ teacherInfo.aboutMe }}</span>
                    <textarea style="width: 100%;" ng-if="teacherInfo.isEditing" ng-model="teacherInfo.aboutMe"></textarea>
                </td>
            </tr>
            <tr>
                <th style="width: 30%;">PromoCodes</th>
                <td style="width: 70%;">
                    <ul>
                        <li ng-repeat="promoCode in teacherInfo.promoCodes">
                            {{ promoCode }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th style="width: 30%;">Courses</th>
                <td style="width: 70%;">
                    <ul>
                        <li ng-repeat="course in teacherInfo.courses">
                            {{ course }}
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <div>
            <button ng-if="!teacherInfo.isEditing" ng-click="editTeacher()">Edit</button>
            <button ng-if="teacherInfo.isEditing" ng-click="saveTeacher()">Save</button>
            <button ng-if="teacherInfo.isEditing" ng-click="cancelEditTeacher()">Cancel</button>
            <button ng-click="deleteTeacherFromCourse(teacherInfo.id)">Delete</button>
        </div>
    </div>

    <!-- PromoCodes Information -->
    <div ng-if="currentView === 'promocodes'" style="margin: 0 25px 0 25px;">
        <h3>PromoCodes</h3>
        <table border="1" style="width: 100%; text-align: center; table-layout: fixed;">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Discount</th>
                    <th>Is Used</th>
                    <th>Expiration Date</th>
                    <th>Person Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="promo in promoCodes">
                    <td>{{ promo.code }}</td>
                    <td>
                        <span ng-if="!promo.isEditing">{{ promo.percent }}%</span>
                        <input type="number" ng-if="promo.isEditing" ng-model="promo.percent">
                    </td>
                    <td>
                        <span ng-if="!promo.isEditing">{{ promo.isUsed ? 'True' : 'False' }}</span>
                        <select ng-if="promo.isEditing" ng-model="promo.isUsed">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </td>
                    <td>
                        <span ng-if="!promo.isEditing">{{ promo.dateTo | date:'yyyy-MM-dd HH:mm:ss' }}</span>
                        <input type="datetime-local" ng-if="promo.isEditing" ng-model="promo.dateTo">
                    </td>
                    <td>
                        <span ng-if="!promo.isEditing">{{ promo.personEmail }}</span>
                        <input type="email" ng-if="promo.isEditing" ng-model="promo.personEmail">
                    </td>
                    <td>
                        <button ng-if="!promo.isEditing" ng-click="editPromoCode(promo)">Edit</button>
                        <button ng-if="promo.isEditing" ng-click="savePromoCode(promo)">Save</button>
                        <button ng-if="promo.isEditing" ng-click="cancelEditPromoCode(promo)">Cancel</button>
                        <button ng-click="deletePromoCode(promo.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button ng-click="addPromoCode()">
            {{ showAddPromoCodeForm ? 'Hide Add Promo Code' : 'Add New Promo Code' }}
        </button>
    </div>
</div>
