<div ng-controller="mainController">
    <table border="1" style="width: 100%; text-align: left; table-layout: fixed;">
        <thead>
            <tr>
                <th style="width: 8%; text-align: center;">Number</th>
                <th style="width: 10%; text-align: center;">Image</th>
                <th style="width: 15%; text-align: center;">Name</th>
                <th style="width: 42%; text-align: center;">Description</th>
                <th style="width: 15%; text-align: center;">Teacher</th>
                <th style="width: 10%; text-align: center;">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="course in courses" ng-class="{'highlighted-course': course === selectedCourse}">
                <td style="text-align: center;" ng-click="selectCourse(course)">{{ course.number }}</td>
                <td style="text-align: center; width: 100%; height: 100%">
                    <input style="width: 90%;" ng-if="course.isEditing && course === selectedCourse" type="text" ng-model="course.imgUrl" />
                    <img ng-if="!course.isEditing" ng-src="{{ course.imgUrl }}" alt="{{ course.name }}" style="width: 75%; height: 75px;" />
                </td>
                <td style="text-align: center;">
                    <input ng-if="course.isEditing && course === selectedCourse" type="text" ng-model="course.name" />
                    <span ng-if="!course.isEditing">{{ course.name }}</span>
                </td>
                <td style="text-align: left;">
                    <textarea ng-if="course.isEditing && course === selectedCourse" ng-model="course.description" style="width: 100%;"></textarea>
                    <span ng-if="!course.isEditing">{{ course.description }}</span>
                </td>
                <td style="text-align: center;">
                    <input ng-if="course.isEditing && course === selectedCourse" type="text" ng-model="course.teacherEmail" />
                    <span ng-if="!course.isEditing">{{ course.teacherName }}</span>
                </td>
                <td style="text-align: center;">
                    <input style="width: 90%;" ng-if="course.isEditing && course === selectedCourse" type="text" ng-model="course.price" />
                    <span ng-if="!course.isEditing">{{ course.price }}$</span>
                </td>
            </tr>
            <!-- Row for adding a new course -->
            <tr ng-if="addingNewCourse">
                <td style="text-align: center;">Number</td>
                <td style="text-align: center;">
                    <input style="width: 95%;" type="text" ng-model="newCourse.imgUrl" placeholder="Enter path to img" />
                </td>
                <td style="text-align: center;">
                    <input type="text" ng-model="newCourse.name" placeholder="Enter course name" />
                </td>
                <td style="text-align: left;">
                    <textarea ng-model="newCourse.description" placeholder="Enter course description" style="width: 100%;"></textarea>
                </td>
                <td style="text-align: center;">
                    <input type="text" ng-model="newCourse.teacherEmail" placeholder="Enter teacher email" />
                </td>
                <td style="text-align: center;">
                    <input style="width: 90%;" type="text" ng-model="newCourse.price" placeholder="Enter price" />
                </td>
            </tr>
        </tbody>
    </table>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-left: 25px;">
        <!-- Action Buttons -->
        <div style="display: flex; gap: 10px;" >
            <button ng-if="!addingNewCourse" ng-click="toggleAddNewCourse()">Add</button>
            <button ng-if="selectedCourse && !selectedCourse.isEditing" ng-click="editCourse(selectedCourse); $event.stopPropagation();">Edit</button>
            <button ng-click="confirmDelete(selectedCourse)">Delete Course</button>
            <button ng-if="addingNewCourse" ng-click="createNewCourse()">Create</button>
            <button ng-if="addingNewCourse" ng-click="cancelNewCourse()">Cancel</button>
            <button ng-if="selectedCourse && selectedCourse.isEditing" ng-click="saveCourse(selectedCourse); $event.stopPropagation();">Save</button>
            <button ng-if="selectedCourse && selectedCourse.isEditing" ng-click="cancelEdit(selectedCourse); $event.stopPropagation();">Cancel</button>
        </div>
        <!-- Pagination Controls -->
        <div class="pagination-controls" style="display: flex; align-items: center; margin-right: 25px;">
            <button ng-click="prevPage()" ng-disabled="currentPage === 1">&lt;</button>
            <span ng-repeat="page in getPageNumbers() track by $index" style="margin: 0 5px;">
                <button ng-click="setPage(page)"
                        ng-disabled="page === '...' || page === currentPage"
                        ng-class="{ 'active-page': page === currentPage }">
                    {{ page }}
                </button>
            </span>
            <button ng-click="nextPage()" ng-disabled="currentPage === totalPages">&gt;</button>
        </div>
    </div>

</div>
