<div class="course-list">
    <button ng-click="showAddCourseForm = !showAddCourseForm">
        Add New Course
    </button>
    <div ng-if="showAddCourseForm">
        <div ng-include="'views/addCourse.html'"></div>
    </div>
    <table border="1" style="width:80%; text-align: left;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Teacher</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="course in courses" ng-click="selectCourse(course)">
                <td>{{ course.id }}</td>
                <td>
                    <img ng-src="{{course.pathToImg}}"
                         alt="{{course.name}}"
                         style="width: 100px; height: 100px;" />
                </td>
                <td>{{ course.name }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.teacherName }}</td>
            </tr>
        </tbody>
    </table>
</div>
