<!DOCTYPE html>
<html lang="en" ng-app="ITCoursesApp">
<head>
    <meta charset="UTF-8" />
    <title>Report</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular-route.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/mainController.js"></script>
    <script src="../js/detailsController.js"></script>
    <script src="../js/mainGrid.js"></script>
    <script src="../js/detailsGrid.js"></script>
    <link rel="stylesheet" href="../css/site.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body ng-controller="mainController">
    <h2 class="header">Person Report</h2>

    <div ng-repeat="report in reportData" style=" width: 95%; margin: 0 25px 0 25px;">
        <div class="report-table-container">
            <table>
                <thead>
                    <tr>
                        <td style="font-size: 22px; width: 5%; ">
                            <button style="border: 0px;" ng-click="showHideCourse(report)">+</button>
                        </td>
                        <td style="width: 15%;">Name: {{ report.personName }}</td>
                        <td style="width: 15%;">Total Courses: {{ report.countCourses }}</td>
                        <td style="width: 15%;">Total Amount: ${{ report.totalAmount }}</td>
                        <td style="width: 15%;">Total Discount Amount: ${{ report.totalDiscountAmount }}</td>
                        <td style="width: 15%;">Average Cost: ${{ report.averageCost }}</td>
                    </tr>
                </thead>
            </table>
        </div>

        <div ng-if="report.showCourse" style=" width: 80%; margin: 0 25px 0 140px; ">
            <h6>Courses</h6>
            <div class="report-table-container">
                <table style="text-align: center;">
                    <thead>
                        <tr>
                            <th style="width: 20%;">Course Name</th>
                            <th style="width: 20%;">Discount</th>
                            <th style="width: 20%;">Price</th>
                            <th style="width: 20%;">Price with discount</th>
                            <th style="width: 20%;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="course in report.courses">
                            <td>{{ course.courseName }}</td>
                            <td>{{ course.discount }}%</td>
                            <td>${{ course.price }}</td>
                            <td>${{ course.priceWithDiscount }}</td>
                            <td>{{ course.status }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <script>
            app.controller('mainController', function ($scope, $http) {
                $scope.reportData = [];
                $scope.reportData.showCourse = false;
                $http.get(`/api/person/GetReportInformation`)
                    .then(function (response) {
                        $scope.reportData = response.data;
                    }, function (error) {
                        console.error('Error fetching report:', error);
                    });

                // Show/Hide Course for each person
                $scope.showHideCourse = function (report) {
                    report.showCourse = !report.showCourse;
                };
            });
        </script>
</body>
</html>